:root {
    --first-font-color: #3b434c;
    --second-font-color: #fff;
    --third-font-color: #f7600e;
    --facebook-color: #1A599E;
    --twitter-color: #00ACE1;
    --google-plus-color: #FC351C;
    --dribbble-color: #FC71A4;
    --behace-color: #009AD3;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext');


* {
    box-sizing: border-box;
}

h1,
p,
h3,
h2 {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color:
}

/*
section hero
*/

.hero {
    min-height: 800px;
    background: url(../images/Header%20Photo%20Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 50px 15px 0 15px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay nav ul {
    margin: 0;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

ul li a:hover {
    color: var(--third-font-color);
}

.overlay span {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 50px;
    color: #fff;
}

.overlay span:hover {
    cursor: pointer;
}

.cta {
    text-align: center;
    padding: 180px 15px 15px 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.cta h1 {
    color: var(--second-font-color);
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.cta span {
    color: var(--third-font-color);
}

.cta p {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: var(--second-font-color);
    padding: 40px 260px;
}

.cta a {
    height: 50px;
    width: 210px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--second-font-color);
    display: inline-block;
    line-height: 50px;
    color: var(--second-font-color);
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.cta a:last-of-type {
    margin-right: 0;
}

.cta a:hover {
    background: var(--third-font-color);
    border: none;
}

/*
Services
*/

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 60px;
    padding: 100px 15px;
    color: var(--first-font-color);
}

.box {
    text-align: center;
}

.circle {
    width: 151px;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--first-font-color);
    border-radius: 50%;
    margin: auto;
}

.box h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px 0;
}

.box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;
    padding: 0 20px 50px 20px
}

/*
Section subscribe
*/

.subscribe {
    background-image: url(../images/subscribe%20bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.subscribe form {
    min-height: 250px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-content: center;
}

.subscribe input[type=text] {
    grid-column: 1/3;
    height: 50px;
    border-radius: 10px;
    padding-left: 24px;
    border: none;
    color: var(--first-font-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.subscribe input[type=submit] {
    grid-column: 3/4;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: var(--second-font-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    background-color: var(--third-font-color);
    cursor: pointer;
}

/*
section our-works
*/

.our-works {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    grid-gap: 30px;
}

.photo-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.photo-container img {
    max-width: 100%;
    height: auto;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(247, 96, 14, 0.9);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: .3s ease;
    border-radius: 10px;
}

.photo-container:hover .photo-overlay {
    transform: scale(1);
}

.overlay-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--second-font-color);
    text-align: center;
}

.overlay-text h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.overlay-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 50px;
}

.overlay-text a {
    color: var(--second-font-color);
    text-decoration: none;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: .3s ease-in-out;

}

.overlay-text a:hover {
    background-color: var(--second-font-color);
    color: var(--third-font-color);

}

.our-works .show-more-btn {
    color: var(--first-font-color);
    width: 210px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    transition: .3s ease-in;
}

.our-works .show-more-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--second-font-color);
    background-color: var(--first-font-color);
    border: 1px solid var(--first-font-color);
}

.gallery-hide-show {
    margin-top: 30px;
}

/*
section slider
*/

.slider {
    background: url(../images/bg%20slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.unslider {
    position: relative;
}

.slider-content {
    padding: 0 250px;
    color: var(--second-font-color);
}

.slider-content h3 {
    font-size: 25px;
    line-height: 40px;
    padding: 40px 0;
    font-weight: 300;
}

.slider-content p {
    font-size: 18px;
    font-weight: 600;
}

.unslider-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 150px;
}

.unslider-arrow.next {
    left: auto;
    right: 150px;
}

.unslider .fas {
    color: #fff;
    font-size: 40px;
}

/*
.intro 
*/

.intro {
    color: var(--first-font-color);
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 15px;
    max-width: 1200px;

}

.intro h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;

}

.intro span {
    color: var(--third-font-color);
}

.intro p {
    font-size: 16px;
    font-weight: 400;
    padding: 40px 300px 0 300px;
    line-height: 30px;
}


/*
section our-team
*/

.our-team {
    padding: 100px 0;
}

.team {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 235px);
    justify-content: center;
    grid-gap: 60px;
}


.worker-container {
    color: var(--first-font-color);
    text-align: center;
    filter: grayscale(100%);
    transition: .3s ease-in;
}

.worker-container:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.worker-container img {
    width: 100%;
    height: auto;
}

.worker-container h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;

}

.worker-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
}

.social a {
    display: inline-block;
    margin-right: 14px;

}

.social a:last-child {
    margin-right: 0;
}

.social .fab {
    display: inherit;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}


.social .fa-facebook-f {
    background-color: var(--facebook-color);
    color: var(--second-font-color);
}

.social .fa-twitter {
    background-color: var(--twitter-color);
    color: var(--second-font-color);

}

.social .fa-google-plus-g {
    background-color: var(--google-plus-color);
    color: var(--second-font-color);
}

.social .fa-facebook-f:hover,
.social .fa-twitter:hover,
.social .fa-google-plus-g:hover {
    cursor: pointer;
    opacity: .8;
}

/*
section contact-form
*/

.contact-form {
    min-height: 800px;
    background-image: url(../images/bg%20contact%20%20form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}

.white {
    color: var(--second-font-color);
}

.contact-form form {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form form textarea {
    font-family: 'Open Sans', sans-serif;
    grid-column: 1/3;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    color: var(--first-font-color);
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-transform: capitalize;
}

.contact-form form input[type=text] {
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
    color: var(--first-font-color);
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-transform: capitalize;
}

.contact-form form input[type=submit] {
    border-radius: 10px;
    background-color: #f7600e;
    width: 210px;
    height: 50px;
    border: none;
    display: inline-block;
    line-height: 50px;
    color: var(--second-font-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-form form input[type=submit]:hover {
    cursor: pointer;
}

.contact-form form ul {
    align-self: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.contact-form form ul li {
    margin-right: 20px;
}

.contact-form form ul li:last-child {
    margin-right: 0px;
}

.contact-form form .fab {
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 50%;
    color: var(--second-font-color);
}

.contact-form form .fa-facebook-f {
    background-color: var(--facebook-color);
}

.contact-form form .fa-twitter {
    background-color: var(--twitter-color);
}

.contact-form form .fa-google-plus-g {
    background-color: var(--google-plus-color);
}

.contact-form form .fa-dribbble {
    background-color: var(--dribbble-color);
}

.contact-form form .fa-behance {
    background-color: var(--behace-color);
}

/*
footer
*/

footer p {
    padding: 40px 15px;
    background-color: var(--first-font-color);
    color: var(--second-font-color);
    text-align: center;
    font-size: 18px;
}


/*
media queries
*/

@media screen and (max-width: 991px) {
    /*    
    section hero
    */
    .cta p {
        padding-left: 0;
        padding-right: 0;
    }

    .intro p {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*
    section slider
    */
    .slider-content {
        padding: 0 80px;
    }

    .unslider-arrow {
        margin-top: -25px;
        left: 40px;
    }

    .unslider-arrow.next {
        right: 40px;
    }

    .unslider .fas {
        font-size: 50px;
    }

}

@media screen and (max-width: 767px) {
    /*    
    section hero
    */
    .nav-bar {
        display: block;
        text-align: center;
    }

    .nav-bar img {
        margin: 10px 0 20px 0;
    }

    .cta {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .cta h1 {
        font-size: 54px;
    }

    .cta p {
        font-size: 22px;
    }

    .cta a:first-of-type {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .cta a {
        width: 100%;
    }

    .intro p {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*    
    section slider
    */
    .slider-content p {
        font-size: 16px;
    }

    .unslider-arrow {
        margin-top: -25px;
        left: 20px;
    }

    .unslider-arrow.next {
        right: 20px;
    }

    /*     
    section contact form
    */
    .contact-form form {
        display: grid;
        grid-template-columns: 100%;
    }

    .contact-form form textarea {
        grid-column: 1/2;
    }
    .contact-form form input[type=submit] {
        width: 100%
    }

    .contact-form form ul {
        justify-content: center;
    }

    .contact-form form ul li {
        margin-right: 10px;
    }

    /*    
    section subscribe
    */
    .subscribe form {
        grid-template-columns: 100%;

    }

    .subscribe input[type=text] {
        grid-column: 1/2;
    }

    .subscribe input[type=submit] {
        grid-column: 1/2;
    }

    /*
    section our-works
    */
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
    }

}
